header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

header p {
    color: white;
    font-size: 1em;
    margin-bottom: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.step {
    margin-bottom: 20px;
}

.step h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.step p {
    color: #302f2f;
}

footer {
    text-align: center;
    margin-top: 20px;
    color:white;
}
