/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1e1e2f;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}

/* Sidebar */
.sidebar {
    background-color: #29293d;
    width: 100%;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
}

@media (min-width: 768px) {
    .sidebar {
        width: 20%;
    }
}

.sidebar h3 {
    color: white;
    margin-bottom: 10px;
}

.sidebar ul {
    width: 100%;
    padding: 10px;
    background-color: #3d3d5c;
    color: white;
    border: none;
    border-radius: 5px;
}
.sidebar ul li {
    list-style: none;
    margin-bottom: 10px;
    border-bottom: 1px solid #dfded9;
    cursor: pointer;
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #ffd700;
    margin-bottom: 20px;
}

.description p {
    text-align: justify;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (min-width: 768px) {
    .form-section {
        flex-direction: row;
    }
}

.form {
    width: 100%;
    max-width: 580px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form select,
form input[type="number"] {
    width: 100%;
    padding: 10px;
    background-color: #3d3d5c;
    color: white;
    border: none;
    border-radius: 5px;
}

form div {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

form button {
    background-color: #ffd700;
    color: #1e1e2f;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 100px;
}

.description {
    width: 100%;
    text-align: center;
    overflow: auto;
    height: 600px;
}

@media (min-width: 768px) {
    .description {
        width: 50%;
    }
}

.description img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-bottom: 20px;
}

.description p {
    line-height: 1.6;
}

/* Predict Button */
.predict-btn {
    background-color: #ffd700;
    color: #1e1e2f;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
