body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
}

h1 {
  color: #ffdd59;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #ffdd59;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 5px;
}

button:hover {
  background-color: #ecca5c;
}

.page {
  display: none;
  padding: 50px;
  text-align: center;
}

.page.active {
  display: block;
}

.hidden {
  display: none;
}

/* Containers */
.welcome-container, .main-menu, .guide-container, .contact-container, .terms-container, .predict-container {
  background-color: #1a1a2e;
  border-radius: 8px;
  padding: 20px;
  margin: auto;
  width: 80%;
}

.image-container, .video-container {
  text-align: center;
  margin-top: 20px;
}

.image-container img, .video-container video {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}