{% extends 'layout.html' %}
{% block title %}Điều Khoản Sử Dụng{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/Css/dksd.css">
<div class="container">
    <header>
        <h1>Điều Khoản Sử Dụng</h1>
        <p>Vui lòng đọc kỹ điều khoản sử dụng trước khi sử dụng dịch vụ của chúng tôi.</p>
    </header>
    <main>
        <section>
            <h2>1. Chấp nhận các điều khoản</h2>
            <p>Bằng việc truy cập và sử dụng dịch vụ, bạn đồng ý tuân thủ các điều khoản và điều kiện này.</p>
        </section>
        <section>
            <h2>2. Quyền sở hữu trí tuệ</h2>
            <p>Nội dung trên trang web này thuộc quyền sở hữu trí tuệ của chúng tôi và được bảo vệ bởi luật pháp.</p>
        </section>
        <section>
            <h2>3. Bảo mật thông tin</h2>
            <p>Chúng tôi cam kết bảo vệ thông tin cá nhân của bạn theo chính sách bảo mật của chúng tôi.</p>
        </section>
    </main>

</div>
{% endblock %}
