{% extends 'layout.html' %}
{% block title %}Liên Hệ{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/Css/lienhe.css">
<div class="container">
    <header>
        <h1>Liên Hệ</h1>
        <p>Chúng tôi rất vui lòng nhận được phản hồi từ bạn. Hãy liên hệ với chúng tôi qua biểu mẫu dưới đây.</p>
    </header>
    <main>
        <section class="creator-info">
            <h2>Thông tin nhóm phát triển</h2>
            <p>Tên: Nguyễn Hoàng Tam -- Nguyễn Thị Đài Trang</p>
            <p>Email: nguyenhoangtam12cb3@gmail.com</p>
            <p>Số điện thoại: 0123456789</p>
            <p>Địa chỉ: 783 Phạm Hữu Lầu, Phường 6, Thành phố Cao Lãnh, Tỉnh Đồng Tháp, Việt Nam , Cao Lãnh , Đồng Tháp , Việt Nam</p>
        </section>
    </main>

</div>
{% endblock %}
